.filter {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 350px;
    text-align: right;
}

.filter .ui-input {
    margin-bottom: 26px;
}

.filter-btn {
    display: none;
}

@media screen and (max-width: 768px) {
    .filter-btn {
        margin: 20px 0 0 auto;
        background: transparent;
        border: unset;
        display: block;
        position: relative;
        z-index: 9999;

        &::before{
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: transparent url(./assets/filter.svg) center center no-repeat;
            background-size: contain;
            border: unset;
        }

        &.active::before{
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: transparent url(./assets/close.svg) center center no-repeat;
            background-size: contain;
            border: unset;
        }

        &.active + .filter {
            display: flex;
        }
    }

    .filter {
        background: rgb(165,106,165);
        background-size: cover;
        width: calc(100% - 20px);
        z-index: 999;
        top: 10px;
        right: 10px;
        padding: 20px;
        padding-top: 70px;
        align-items: flex-start;
        display: none;
    }
}
