@import './reset.scss';
@import './base.scss';
@import './palette.scss';
@import './fonts.scss';

@import './ui/ui-input.scss';
@import './ui/ui-button.scss';

@import './filter.scss';
@import './head.scss';
@import './current-weather.scss';
@import './forecast.scss';

body {
    background-image: url('./assets/bg.png');
    background-size: cover;
}

main {
    width: 910px;
    margin: 0 auto;
}

@media screen and (max-width: 910px) {
    main {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    main {
         width: calc(100% - 40px);
    }
}
